<ion-header>
  <ion-toolbar>
    <ion-title>Add Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" color="dark">Phone Number</ion-label>
    <ion-input type="tel" [(ngModel)]="phoneNumber" maxlength="10" pattern="[0-9]*" (ionChange)="searchUsers()"></ion-input>
  </ion-item>
  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let user of searchResults" (click)="navigateToHome(user)">
      <ion-label>{{ user.fname }} {{ user.lname }} - {{ user.phone_number }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="navigateToUserProfile()">Add</ion-button>
</ion-content>