// // _shared-styles.scss

// @mixin shared-styles {
//     ion-content {
//       --background: #f8f8f8;
//     }
  
//     .container {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       height: 100%;
//     }
  
//     ion-card {
//       --background: #f8f8f8;
//       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//       border-radius: 8px;
//       max-width: 400px;
//       width: 100%;
//     }
  
//     ion-item {
//       --background: #f8f8f8;
//       --color: #333333;
//       --border-color: #cccccc;
//       --highlight-color-focused: rgba(0, 0, 0, 0.1);
//     }
  
//     ion-button {
//       --background: #333333;
//       --color: #ffffff;
//       --border-radius: 4px;
//       --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
//       &:hover {
//         --background: #222222;
//       }
//     }
//   }

// _shared-styles.scss

@mixin shared-styles {
  ion-content {
    --background: #f8f8f8;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  ion-card {
    --background: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }

  ion-item {
    --background: #f8f8f8;
    --color: #333333;
    --border-color: #cccccc;
    --highlight-color-focused: rgba(0, 0, 0, 0.1);
  }

  ion-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      --background: var(--ion-color-primary-shade);
    }
  }
}