<!-- book-visit.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Book Visit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Health Complain</ion-label>
    <ion-input [(ngModel)]="healthComplain"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Speciality</ion-label>
    <ion-select [(ngModel)]="selectedSpeciality" (ionChange)="onSpecialityChange()">
      <ion-select-option *ngFor="let speciality of specialities" [value]="speciality">{{ speciality.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Doctor</ion-label>
    <ion-select [(ngModel)]="selectedDoctor">
      <ion-select-option *ngFor="let doctor of doctors" [value]="doctor">{{ doctor.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="bookVisit()">Submit</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="light" (click)="cancelBooking()">Cancel</ion-button>
    </ion-col>
  </ion-row>
</ion-content>