<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doctor Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <app-appointment *ngFor="let appointment of appointments" [appointment]="appointment"></app-appointment>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadAppointments($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more appointments...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>