@import 'src/theme/shared-styles';

:host {
  @include shared-styles;

  .container {
    @extend .container;
  }

  .book-appointment-btn {
    font-size: 1.2em;
    padding: 20px;
    max-width: 300px;
  }

  ion-menu-button {
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-avatar {
    width: 32px;
    height: 32px;
  }

  ion-menu {
    --width: 250px;
  }

  ion-item {
    --padding-start: 16px;
    cursor: pointer;

    &:hover {
      --background: var(--ion-color-light);
    }
  }
}