<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <!-- <ion-avatar>
          <img [src]="userAvatarUrl" alt="User Avatar">
        </ion-avatar> -->
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-button (click)="openBookAppointment()" expand="block" class="book-appointment-btn">
      Book Appointment
    </ion-button>
  </div>
</ion-content>

<!-- <ion-menu sid nu> -->

<ion-router-outlet id="main"></ion-router-outlet>